<nav class="w3-top w3-theme-l3 w3-bar w3-padding w3-card">
    <a href="#" class="w3-bar-item w3-button w3-kaushan w3-xlarge"><b>VEGAN-BOT</b></a>
</nav>
<br>
<br>

<section class="w3-display-container" style="height: 150px">
    <div class="w3-display-middle w3-margin-top">
        <img src="assets/images/logo.png" class="w3-circle" style="height: 150px" alt="Logo">
    </div>
</section>

<section id="about" class="w3-content w3-padding-16" style="max-width:600px;">
    <div class="w3-container">
        <chat-dialog></chat-dialog>
    </div>
</section>


